
 .sidebar {
     position: fixed;
     width: 25%;
     height: 100%;
     background: #F3F2F4;
 }
 .content {
     margin-left: 25%;
     width: auto;
     position: relative;
     overflow: auto;
     z-index: 1;
 }
.info {
  width: 98%;
  position: relative;
  margin-top: 100pt; 
}

body {
  font: 10px sans-serif;
  color: white;
  background-color: black;
  font-family: helvetica;
  margin: 0pt;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.legend{
  font: 8pt sans-serif;
  fill: #7D7E81;

  width:100%;
  margin: 50% 10pt 0;
  text-align:center

}

#cssmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

#cssmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#cssmenu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#cssmenu a {
  background-color: #F3F2F4;
  border-bottom: 1px solid #E4E3E5;
  color: #7D7E81;
  display: block;
  padding: 3% 0 3% 10%;
  height: 55px;
  text-decoration: none;
  font-weight: normal;
  font-size: 10pt;
  display: table;
  width: 90%;
  letter-spacing: 1px;
}


#cssmenu span {
 vertical-align: middle;
 display: table-cell;
}

#cssmenu header {
  background: #F3F2F4;
  border-bottom: 1px solid #E4E3E5;
  color: black;
  display: block;
  margin: 10 0;
  height: 60px;
  padding-left: 10%;
  text-decoration: none;
  font-size:16pt;
  font-weight: normal;
  display: table;
  width: 90%;
  letter-spacing: 2px;

}

#cssmenu a:hover, #cssmenu a.inactive:hover, #cssmenu a.active:hover{
  background: #D1D1D4  left center no-repeat; 
}

#cssmenu a.active{
  background: #D1D1D4  left center no-repeat; 
}

#cssmenu a.inactive{
  background: #F3F2F4  left center no-repeat; 
}

.childMenu {
  width: 17%; 
  background-color: #F3F2F4; 
  height: 50pt; 
  float:right; 
  color: #7D7E81; 
  font-size:15pt; 
  letter-spacing: 2pt;

  font:  18px sans-serif;
}


.childMenu ul {
  text-align: left;
  display: inline;
  padding: 0 15px;
}


.childMenu ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 24px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}



.childMenu ul li ul {
  padding: 0;
  position: absolute;
  top: 67px;
  left: -15px;
  width: 180px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.childMenu ul li ul li { 
  background: #F3F2F4; 
  display: block; 
  color: #666;
  padding: 20px 35px;
  
  border-top: solid 1pt #CCC;
}


.childMenu ul li ul li:hover { 
  background: #666; 
  color: #D1D1D4;
}

.childMenu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; !important;
  z-index: 1;
}
